.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

button{
  background-color: white;
  border-radius: 10px;
  margin: .25rem;
  width: 50px;
  height: 25px;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.colorAdder {
  padding: 2rem;
  background-color: #d9eeec;
  border-radius: 2rem;
  padding: 3rem;
  margin: 2rem;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.colorsList{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 5rem;
  font-size: 3rem;
  background-color: #3c70a4;
}

.form-control{
  margin: 2rem;
  padding: 1rem;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}